<app-component-docs-viewer [componentData]="componentData">
  <!-- Example of component's usage -->
  <div class="ttip-circles-elems-group">
    <div class="ttip-circles-elems-group-title">
      XSmall info circle with a tooltip at the top
    </div>
    <cps-info-circle
      size="xsmall"
      tooltipPosition="top"
      tooltipText="Provide any information here"></cps-info-circle>
  </div>

  <div class="ttip-circles-elems-group">
    <div class="ttip-circles-elems-group-title">
      Small info circle with a tooltip at the right
    </div>
    <cps-info-circle
      size="small"
      tooltipPosition="right"
      tooltipText="Provide any information here"></cps-info-circle>
  </div>

  <div class="ttip-circles-elems-group">
    <div class="ttip-circles-elems-group-title">
      Normal info circle with a tooltip at the left
    </div>
    <cps-info-circle
      size="normal"
      tooltipPosition="left"
      tooltipText="Provide any information here"></cps-info-circle>
  </div>

  <div class="ttip-circles-elems-group">
    <div class="ttip-circles-elems-group-title">
      Large info circle with a tooltip at the bottom
    </div>
    <cps-info-circle
      size="large"
      tooltipPosition="bottom"
      tooltipText="Provide any information here"></cps-info-circle>
  </div>
</app-component-docs-viewer>
