:host {
  .ttip-circles-elems-group {
    margin-bottom: 2rem;
    margin-left: 0.5rem;

    &-title {
      font-size: 1.5rem;
      color: var(--cps-color-depth);
      border-bottom: 0.0625rem solid lightgrey;
      margin-bottom: 0.75rem;
      padding-bottom: 0.5rem;
      font-weight: 600;
    }
  }
}
