<app-component-docs-viewer [componentData]="componentData">
  <!-- Example of component's usage -->
  <app-code-example
    label="XSmall info circle with a tooltip at the top"
    [htmlCode]="examples.xsmallTopTooltip.html">
    <cps-info-circle
      data-testid="xsmall-top-info-circle"
      size="xsmall"
      tooltipPosition="top"
      tooltipText="Provide any information here"></cps-info-circle>
  </app-code-example>

  <app-code-example
    label="Small info circle with a tooltip at the right"
    [htmlCode]="examples.smallRightTooltip.html">
    <cps-info-circle
      data-testid="small-right-info-circle"
      size="small"
      tooltipPosition="right"
      tooltipText="Provide any information here"></cps-info-circle>
  </app-code-example>

  <app-code-example
    label="Normal info circle with a tooltip at the left"
    [htmlCode]="examples.normalLeftTooltip.html">
    <cps-info-circle
      data-testid="normal-left-info-circle"
      size="normal"
      tooltipPosition="left"
      tooltipText="Provide any information here"></cps-info-circle>
  </app-code-example>

  <app-code-example
    label="Large info circle with a tooltip at the bottom"
    [htmlCode]="examples.largeBottomTooltip.html">
    <cps-info-circle
      data-testid="large-bottom-info-circle"
      size="large"
      tooltipPosition="bottom"
      tooltipText="Provide any information here"></cps-info-circle>
  </app-code-example>

  <app-code-example
    label="Persistent info circle"
    [htmlCode]="examples.persistentTooltip.html">
    <cps-info-circle
      data-testid="persistent-info-circle"
      size="normal"
      tooltipPosition="top"
      [tooltipPersistent]="true"
      tooltipText="This tooltip stays open until you click elsewhere. <a href='#'>Learn more</a>"></cps-info-circle>
  </app-code-example>
</app-component-docs-viewer>
