<app-component-docs-viewer [componentData]="componentData">
  <!-- Example of component's usage -->
  <app-code-example
    label="Switch with tooltip"
    [htmlCode]="examples.tooltipSwitch.html">
    <cps-switch
      data-testid="tooltip-switch"
      label="Switch with tooltip"
      [value]="false"
      infoTooltip="Provide any information here">
    </cps-switch>
  </app-code-example>

  <app-code-example label="Basic switch" [htmlCode]="examples.basicSwitch.html">
    <cps-switch label="Basic switch" [value]="true"></cps-switch>
  </app-code-example>

  <app-code-example
    label="Unlabeled switch"
    [htmlCode]="examples.unlabeledSwitch.html">
    <cps-switch ariaLabel="Unlabeled switch" [value]="true"></cps-switch>
  </app-code-example>

  <app-code-example
    label="Disabled switch checked"
    [htmlCode]="examples.disabledCheckedSwitch.html">
    <cps-switch
      data-testid="disabled-checked-switch"
      label="Disabled switch checked"
      [disabled]="true"
      [value]="true"></cps-switch>
  </app-code-example>

  <app-code-example
    label="Disabled switch unchecked"
    [htmlCode]="examples.disabledUncheckedSwitch.html">
    <cps-switch
      data-testid="disabled-unchecked-switch"
      label="Disabled switch unchecked"
      [disabled]="true"
      [value]="false"></cps-switch>
  </app-code-example>

  <app-code-example
    label="Switch with valueChanged event"
    [htmlCode]="examples.valueChangedSwitch.html"
    [tsCode]="examples.valueChangedSwitch.ts">
    <div class="sync-val-example">
      <cps-switch
        data-testid="value-changed-switch"
        label="Switch with valueChanged event"
        [value]="false"
        (valueChanged)="onValueChanged($event)"></cps-switch>
      <div class="sync-val" data-testid="value-changed-switch-value">
        Value changed to: {{ lastValueChanged }}
      </div>
    </div>
  </app-code-example>

  <app-code-example
    label="Two-way binding"
    [htmlCode]="examples.twoWayBindingSwitch.html"
    [tsCode]="examples.twoWayBindingSwitch.ts">
    <div class="sync-val-example">
      <cps-switch
        data-testid="two-way-binding-switch"
        label="Switch with two-way binding"
        [(ngModel)]="syncVal"></cps-switch>
      <div class="sync-val" data-testid="two-way-binding-switch-value">
        Is checked: {{ syncVal }}
      </div>
    </div>
  </app-code-example>
</app-component-docs-viewer>
