@use '../../../../../../cps-ui-kit/styles/mixins' as *;

:host {
  display: inline-flex;
  flex-wrap: wrap;
  column-gap: 0.35rem;

  .type-group {
    flex-wrap: nowrap;
    display: inline-flex;
    align-items: center;
    gap: 0.35rem;
  }

  .type-part {
    white-space: nowrap;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      @include focus-ring();
    }
  }
}
