<app-component-docs-viewer [componentData]="componentData">
  <!-- Example of component's usage -->
  <div class="datepickers-group">
    <app-code-example
      label="Required datepicker"
      [htmlCode]="examples.requiredDatepicker.html"
      [tsCode]="examples.requiredDatepicker.ts">
      <form [formGroup]="form">
        <cps-datepicker
          label="Required datepicker with a tooltip"
          [clearable]="true"
          infoTooltip="Provide any information here"
          formControlName="requiredDatepicker">
        </cps-datepicker>
      </form>
    </app-code-example>

    <app-code-example
      label="Disabled datepicker"
      [htmlCode]="examples.disabledDatepicker.html"
      [tsCode]="examples.disabledDatepicker.ts">
      <cps-datepicker
        label="Disabled datepicker"
        [clearable]="true"
        [disabled]="true"
        hint="This datepicker is disabled"
        [value]="today">
      </cps-datepicker>
    </app-code-example>

    <app-code-example
      label="Dropdown on input focus"
      [htmlCode]="examples.dropdownOnInputFocus.html"
      [tsCode]="examples.dropdownOnInputFocus.ts">
      <cps-datepicker
        label="Datepicker with a dropdown on input focus"
        hint="This datepicker shows a calendar when input field is focused"
        [value]="today"
        [clearable]="true"
        [openOnInputFocus]="true">
      </cps-datepicker>
    </app-code-example>

    <app-code-example
      label="Restricted date range"
      [htmlCode]="examples.restrictedDateRange.html"
      [tsCode]="examples.restrictedDateRange.ts">
      <cps-datepicker
        label="Datepicker with restricted date range"
        hint="This datepicker has selectable dates from 01/01/2023 to 12/31/2025"
        [showTodayButton]="false"
        [value]="defaultDate"
        [clearable]="true"
        [minDate]="minDate"
        [maxDate]="maxDate">
      </cps-datepicker>
    </app-code-example>

    <app-code-example
      label="Without Today button"
      [htmlCode]="examples.withoutTodayButton.html">
      <cps-datepicker
        label="Datepicker without Today button"
        [clearable]="true"
        [showTodayButton]="false">
      </cps-datepicker>
    </app-code-example>

    <app-code-example
      label="Custom date format"
      [htmlCode]="examples.customDateFormat.html">
      <cps-datepicker
        label="Datepicker with DD/MM/YYYY date format"
        [clearable]="true"
        dateFormat="DD/MM/YYYY">
      </cps-datepicker>
    </app-code-example>

    <app-code-example
      label="Two-way binding"
      [htmlCode]="examples.twoWayBinding.html"
      [tsCode]="examples.twoWayBinding.ts">
      <div class="sync-val-example">
        <cps-datepicker
          [clearable]="true"
          label="Datepicker with two-way binding, select a date"
          [(ngModel)]="syncVal"
          width="25rem"
          hint="This datepicker has a fixed width of 25rem"
          placeholder="Select a date"
          [ngModelOptions]="{ standalone: true }">
        </cps-datepicker>
        <div class="sync-val">{{ syncVal }}</div>
      </div>
    </app-code-example>

    <app-code-example
      label="Underlined datepicker"
      [htmlCode]="examples.underlinedDatepicker.html"
      [tsCode]="examples.underlinedDatepicker.ts">
      <cps-datepicker
        label="Underlined datepicker"
        hint="This datepicker shows a calendar when input field is focused"
        [value]="today"
        appearance="underlined"
        [clearable]="true"
        [openOnInputFocus]="true">
      </cps-datepicker>
    </app-code-example>

    <app-code-example
      label="Borderless datepicker"
      [htmlCode]="examples.borderlessDatepicker.html"
      [tsCode]="examples.borderlessDatepicker.ts">
      <cps-datepicker
        label="Borderless datepicker"
        hint="This datepicker shows a calendar when input field is focused"
        [value]="today"
        appearance="borderless"
        [clearable]="true"
        [openOnInputFocus]="true">
      </cps-datepicker>
    </app-code-example>
  </div>
</app-component-docs-viewer>
