<app-component-docs-viewer [componentData]="componentData">
  <app-code-example
    label="Horizontal divider"
    [htmlCode]="examples.horizontalDivider.html">
    <div data-testid="horizontal-divider-example">
      <p>First row</p>
      <cps-divider></cps-divider>
      <p>Second row</p>
    </div>
  </app-code-example>
  <app-code-example
    label="Vertical divider"
    [htmlCode]="examples.verticalDivider.html">
    <div class="vertical-section" data-testid="vertical-divider-example">
      <p>First column</p>
      <cps-divider [vertical]="true"></cps-divider>
      <p>Second column</p>
      <cps-divider [vertical]="true"></cps-divider>
      <p>Third column</p>
    </div>
  </app-code-example>
  <app-code-example
    label="Dashed, thick and red divider"
    [htmlCode]="examples.dashedThickRedDivider.html">
    <div data-testid="dashed-thick-red-divider-example">
      <p>First row</p>
      <cps-divider thickness="0.25rem" color="red" type="dashed"></cps-divider>
      <p>Second row</p>
    </div>
  </app-code-example>
  <app-code-example
    label="Dotted divider"
    [htmlCode]="examples.dottedDivider.html">
    <div data-testid="dotted-divider-example">
      <p>First row</p>
      <cps-divider type="dotted"></cps-divider>
      <p>Second row</p>
    </div>
  </app-code-example>
</app-component-docs-viewer>
