:host {
  overflow-x: hidden;

  .spaced-from-table {
    margin-top: 1rem;
  }

  ::ng-deep {
    .treetable-page--sub-tabs {
      padding-top: 0.625rem;
    }

    app-code-example {
      margin-top: 0.0625rem;
    }
  }
}
