.menu-group {
  gap: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}

.my-menu-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  span {
    color: red;
    margin-bottom: 0.75rem;
  }
}
