<app-component-docs-viewer [componentData]="componentData">
  <!-- Example of component's usage -->
  <app-code-example
    label="Standard menu"
    [htmlCode]="examples.standardMenu.html"
    [tsCode]="examples.standardMenu.ts">
    <cps-menu
      #standardMenu
      [items]="items"
      header="Menu header"
      (menuShown)="isStandardMenuOpen = true"
      (menuHidden)="isStandardMenuOpen = false">
    </cps-menu>
    <cps-button
      label="Standard menu"
      ariaHaspopup="menu"
      [ariaExpanded]="isStandardMenuOpen"
      (clicked)="standardMenu.toggle($event)">
    </cps-button>
  </app-code-example>

  <app-code-example
    label="Standard menu without header"
    [htmlCode]="examples.standardMenuNoHeader.html"
    [tsCode]="examples.standardMenuNoHeader.ts">
    <cps-menu
      #standardMenuNoHeader
      [items]="items"
      ariaLabel="Menu with aria label"
      (menuShown)="isStandardMenuNoHeaderOpen = true"
      (menuHidden)="isStandardMenuNoHeaderOpen = false">
    </cps-menu>
    <cps-button
      label="Standard menu without header"
      ariaHaspopup="menu"
      [ariaExpanded]="isStandardMenuNoHeaderOpen"
      (clicked)="standardMenuNoHeader.toggle($event)">
    </cps-button>
  </app-code-example>

  <app-code-example
    label="Compressed menu"
    [htmlCode]="examples.compressedMenu.html"
    [tsCode]="examples.compressedMenu.ts">
    <cps-menu
      #compressedMenu
      [items]="items"
      [compressed]="true"
      [withArrow]="false"
      (menuShown)="isCompressedMenuOpen = true"
      (menuHidden)="isCompressedMenuOpen = false">
    </cps-menu>
    <cps-button
      label="Compressed menu"
      ariaHaspopup="menu"
      [ariaExpanded]="isCompressedMenuOpen"
      (clicked)="compressedMenu.toggle($event)">
    </cps-button>
  </app-code-example>

  <app-code-example
    label="Compressed menu without icons"
    [htmlCode]="examples.compressedMenuNoIcons.html"
    [tsCode]="examples.compressedMenuNoIcons.ts">
    <cps-menu
      #compressedMenuNoIcons
      [items]="itemsWithoutIcons"
      [compressed]="true"
      [withArrow]="false"
      (menuShown)="isCompressedMenuNoIconsOpen = true"
      (menuHidden)="isCompressedMenuNoIconsOpen = false">
    </cps-menu>
    <cps-button
      label="Compressed menu without icons"
      ariaHaspopup="menu"
      [ariaExpanded]="isCompressedMenuNoIconsOpen"
      (clicked)="compressedMenuNoIcons.toggle($event)">
    </cps-button>
  </app-code-example>

  <app-code-example
    label="Menu with arbitrary content"
    [htmlCode]="examples.arbitraryContentMenu.html"
    [tsCode]="examples.arbitraryContentMenu.ts">
    <cps-menu
      #arbitraryMenu
      (menuShown)="isArbitraryMenuOpen = true"
      (menuHidden)="isArbitraryMenuOpen = false">
      <div class="my-menu-content">
        <span>Provide your own content here</span>
        <img
          src="https://cdn.pixabay.com/photo/2014/11/30/14/11/cat-551554_960_720.jpg"
          alt="kitten"
          width="200" />
        <a
          href="https://www.google.com/"
          target="_blank"
          rel="noopener noreferrer"
          >Google</a
        >
        <a
          href="https://www.bing.com/"
          target="_blank"
          rel="noopener noreferrer"
          >Bing</a
        >
      </div>
    </cps-menu>
    <cps-button
      label="Menu with arbitrary content"
      ariaHaspopup="menu"
      [ariaExpanded]="isArbitraryMenuOpen"
      (clicked)="arbitraryMenu.toggle($event)">
    </cps-button>
  </app-code-example>

  <app-code-example
    label="Menu that opens on focus"
    [htmlCode]="examples.openOnFocusMenu.html"
    [tsCode]="examples.openOnFocusMenu.ts">
    <cps-menu
      #focusMenu
      [items]="items"
      [focusOnShow]="false"
      (menuShown)="isFocusMenuOpen = true"
      (menuHidden)="isFocusMenuOpen = false">
    </cps-menu>
    <cps-button
      label="Menu that opens on focus"
      ariaHaspopup="menu"
      [ariaExpanded]="isFocusMenuOpen"
      (focusin)="focusMenu.show(null, $event.target)"
      (focusout)="onFocusMenuFocusOut($event, focusMenu)">
    </cps-button>
  </app-code-example>

  <app-code-example
    label="Menu that opens on hover"
    [htmlCode]="examples.openOnHoverMenu.html"
    [tsCode]="examples.openOnHoverMenu.ts">
    <cps-menu
      #hoverMenu
      [items]="items"
      [focusOnShow]="false"
      (menuShown)="isHoverMenuOpen = true"
      (menuHidden)="isHoverMenuOpen = false"
      (containerMouseLeave)="onMenuLeave($event, hoverMenu)">
    </cps-menu>
    <cps-button
      label="Menu that opens on hover"
      ariaHaspopup="menu"
      [ariaExpanded]="isHoverMenuOpen"
      (mouseenter)="hoverMenu.show($event)"
      (mouseleave)="onMenuLeave($event, hoverMenu)"
      (focusin)="hoverMenu.show(null, $event.target)"
      (focusout)="onMenuLeave($event, hoverMenu)">
    </cps-button>
  </app-code-example>
</app-component-docs-viewer>
