<app-component-docs-viewer [componentData]="componentData">
  <!-- Example of component's usage -->
  <app-code-example
    label="File upload component with the dependency on selected file extension"
    [htmlCode]="examples.dependentOnSelectedExtension.html"
    [tsCode]="examples.dependentOnSelectedExtension.ts">
    <div class="file-upload-with-selector">
      <cps-button-toggle
        label="File extension"
        [options]="fileUploadOptions"
        [value]="selectedFileUploadType.value"
        (valueChanged)="onFileExtensionChanged($event)">
      </cps-button-toggle>
      <cps-file-upload
        #fileUpload
        [extensions]="[selectedFileUploadType.value]"
        [fileDesc]="selectedFileUploadType!.label || ''"
        width="25rem"
        fileNameTooltipPosition="bottom"
        (fileUploadFailed)="onFileUploadFailed($event)"
        (fileUploaded)="onFileUploaded($event)"
        (uploadedFileRemoved)="onUploadedFileRemoved($event)">
      </cps-file-upload>
    </div>
  </app-code-example>

  <app-code-example
    label="File upload component with extra info"
    [htmlCode]="examples.withExtraInfo.html"
    [tsCode]="examples.withExtraInfo.ts">
    <cps-file-upload
      [extensions]="['.jpg', '.png', 'pdf']"
      [fileInfo]="fileInfo"
      fileDesc="Pictures or PDFs"
      ariaLabel="Upload pictures or PDFs"
      width="31.25rem"
      fileNameTooltipOffset="0.9375rem"
      [fileProcessingCallback]="processUploadedFile"
      (fileProcessingFailed)="onFileProcessingFailed($event)"
      (fileProcessingCancelled)="onFileProcessingCancelled($event)"
      (fileUploadFailed)="onFileUploadFailed($event)"
      (fileUploaded)="onFileUploaded($event)"
      (fileProcessed)="onFileProcessed($event)"
      (uploadedFileRemoved)="onUploadedFileRemoved($event)">
    </cps-file-upload>
  </app-code-example>

  <app-code-example
    label="Disabled file upload component"
    [htmlCode]="examples.disabledFileUpload.html"
    [tsCode]="examples.disabledFileUpload.ts">
    <div class="file-upload-with-toggle">
      <cps-file-upload
        [extensions]="['.jpg', '.png', 'pdf']"
        [fileInfo]="fileInfo"
        fileDesc="Pictures or PDFs"
        width="31.25rem"
        fileNameTooltipOffset="0.9375rem"
        [disabled]="isDisabled"
        [fileProcessingCallback]="processUploadedFile"
        (fileProcessingFailed)="onFileProcessingFailed($event)"
        (fileProcessingCancelled)="onFileProcessingCancelled($event)"
        (fileUploadFailed)="onFileUploadFailed($event)"
        (fileUploaded)="onFileUploaded($event)"
        (fileProcessed)="onFileProcessed($event)"
        (uploadedFileRemoved)="onUploadedFileRemoved($event)">
      </cps-file-upload>
      <cps-button
        label="Toggle disabled"
        (clicked)="toggleDisabled()"
        size="small">
      </cps-button>
    </div>
  </app-code-example>
</app-component-docs-viewer>
