@import '../../../variables.scss';
:host {
  padding: 0 24px 0 24px;
  .desc {
    margin-top: 24px;
    color: var(--cps-color-text-dark);
    margin-left: 24px;
    font-size: 18px;
  }
  ::ng-deep {
    .example-content {
      padding: 0;
      height: 100%;
    }
    cps-tab-group {
      height: 100%;
    }
  }
}
