@use '../../../variables.scss';
:host {
  app-component-docs-viewer {
    height: 100%;
  }
  padding: 0 1.5rem 0 1.5rem;
  .desc {
    margin-top: 1.5rem;
    color: var(--cps-color-text-dark);
    margin-left: 1.5rem;
    font-size: 1.125rem;
  }
  ::ng-deep {
    .example-content {
      padding: 0;
      height: 100%;
    }
    cps-tab-group {
      height: 100%;
    }
  }
}
