<app-component-docs-viewer [componentData]="componentData">
  <!-- Example of component's usage -->
  <cps-sidebar-menu
    [items]="items"
    [exactRoutes]="true"
    ariaLabel="Sidebar menu example"></cps-sidebar-menu>

  <div class="sidebar-menu-page-info-card">
    <cps-icon icon="info-circle" color="info" size="normal"></cps-icon>
    <div>
      Provide your app urls into sidebar menu items or into nested menu items to
      navigate to your routes
    </div>
  </div>
</app-component-docs-viewer>
