@use '../../../variables.scss';
:host {
  app-component-docs-viewer {
    height: 100%;
  }
  padding: 0 1.5rem 0 1.5rem;

  .sidebar-menu-page-side {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    margin: 1.5rem 1.5rem 1.5rem 1.5rem;
    overflow-y: auto;
  }

  .sidebar-menu-page-info-card {
    display: inline-flex;
    align-items: center;
    gap: 0.75rem;
    padding: 1rem 1.25rem;
    border-radius: 0.5rem;
    border-left: 0.25rem solid var(--cps-color-info);
    background: var(--cps-color-info-highlighten);
    color: var(--cps-color-text-darkest);
    font-size: 1rem;
    height: fit-content;
  }

  ::ng-deep {
    .example-content {
      display: flex;
      padding: 0;
      height: 100%;
    }
    cps-tab-group {
      height: 100%;
    }
  }
}
