<app-component-docs-viewer [componentData]="componentData">
  <!-- Example of component's usage -->
  <div class="tags-group">
    <cps-tag color="warn" label="Regular tag"></cps-tag>
    <cps-tag [disabled]="true" color="red" label="Disabled tag"></cps-tag>
    <div class="sync-val-example">
      <cps-tag
        [selectable]="true"
        color="info"
        [(ngModel)]="syncVal"
        label="Selectable tag"></cps-tag>

      <div class="sync-val">Is selected: {{ syncVal }}</div>
    </div>
  </div>
</app-component-docs-viewer>
