<div class="search-input">
  <cps-input
    placeholder="Search a color"
    (valueChanged)="onSearchChanged($event)"
    prefixIcon="search"
    prefixIconSize="18px"
    [clearable]="true"
    hint="Click on any color name or value to copy it"></cps-input>
</div>

<div class="colors">
  <div class="colors-group" *ngFor="let group of filteredColorsList">
    <div class="colors-group-title">{{ group.name }}</div>
    <div class="colors-group-body">
      <div
        *ngFor="let colorBlock of group.colors"
        class="colors-group-body-block">
        <div
          class="colors-group-body-block-title"
          [ngStyle]="{
            'background-color': colorBlock[0].value,
            color: colorNameColor[colorBlock[0].value]
          }">
          <span
            style="cursor: pointer"
            (click)="onCopyColor(colorBlock[0].name)"
            >{{ colorBlock[0].name }}</span
          >
        </div>
        <div
          class="colors-group-body-block-color"
          *ngFor="let color of colorBlock"
          [ngStyle]="{
            'background-color': color.value,
            color: colorNameColor[color.value]
          }">
          <span style="cursor: pointer" (click)="onCopyColor(color.name)">{{
            color.name
          }}</span>
          <span style="cursor: pointer" (click)="onCopyColor(color.value)">{{
            color.value.toUpperCase()
          }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
