<app-service-docs-viewer [serviceData]="serviceData">
  <!-- Examples of service usage -->
  <div class="open-dlg-btns-group">
    <cps-button
      label="Confirmation dialog"
      (clicked)="openConfirmationDialog()"></cps-button>
    <cps-button label="Regular dialog" (clicked)="openDialog()"></cps-button>
    <cps-button
      label="Dialog with blurred background"
      (clicked)="openBlurredBgDialog()"></cps-button>
    <cps-button
      label="Draggable dialog"
      (clicked)="openDraggableDialog()"></cps-button>
    <cps-button
      label="Maximizable dialog"
      (clicked)="openMaximizableDialog()"></cps-button>
    <cps-button
      label="Resizable dialog"
      (clicked)="openResizableDialog()"></cps-button>
    <cps-button
      label="Non-modal dialog"
      (clicked)="openNonModalDialog()"></cps-button>
    <cps-button
      label="Bottom-right positioned dialog"
      (clicked)="openBottomRightPositionedDialog()"></cps-button>
    <cps-button
      label="Close all dialogs"
      (clicked)="closeAllDialogs()"></cps-button>
    <cps-button
      label="Close all dialogs (forced)"
      (clicked)="closeAllDialogs(true)"></cps-button>
  </div>
</app-service-docs-viewer>
