<div class="top-toolbar">
  <img src="assets/ui_logo.svg" />
  <span>Consumer Products UI Kit</span>
  <span *ngIf="version"
    ><b>v{{ version }}</b></span
  >
</div>
<div class="composition-container">
  <app-navigation-sidebar
    [isExpanded]="sidebarExpanded"></app-navigation-sidebar>
  <div
    class="composition-body"
    [ngClass]="{ 'composition-body-collapsed': !sidebarExpanded }">
    <div class="composition-body-toolbar">
      <cps-icon
        icon="burger-arrow"
        color="white"
        class="sidebar-toggle-icon"
        (click)="toggleSidebar()"></cps-icon>
      <span class="composition-body-toolbar-title">{{ componentTitle }}</span>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
