<div class="top-toolbar">
  <img src="assets/ui_logo.svg" alt="CPS UI Kit logo" />
  <span>Consumer Products UI Kit</span>
  @if (version) {
    <span
      ><b>v{{ version }}</b></span
    >
  }
  @if (showThemeToggle) {
    <app-theme-toggle />
  }
</div>
<div class="composition-container">
  <app-navigation-sidebar
    [isExpanded]="sidebarExpanded"></app-navigation-sidebar>
  <div
    class="composition-body"
    [ngClass]="{ 'composition-body-collapsed': !sidebarExpanded }">
    <div class="composition-body-toolbar">
      <cps-icon
        icon="burger-arrow"
        class="sidebar-toggle-icon"
        (click)="toggleSidebar()"></cps-icon>
      <span class="composition-body-toolbar-title">{{ componentTitle }}</span>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
