<header class="top-toolbar">
  <img src="assets/ui_logo.svg" alt="CPS UI Kit logo" />
  <span>Consumer Products UI Kit</span>
  @if (version) {
    <span
      ><b>v{{ version }}</b></span
    >
  }
  @if (showThemeToggle) {
    <app-theme-toggle />
  }
</header>
<div
  class="composition-container"
  [class.sidebar-open-mobile]="sidebarExpanded && isMobile">
  <app-navigation-sidebar
    #sidebar
    [isExpanded]="sidebarExpanded"
    (linkClicked)="focusMainContent()"></app-navigation-sidebar>
  @if (sidebarExpanded && isMobile) {
    <div
      class="sidebar-backdrop"
      (click)="toggleSidebar()"
      aria-hidden="true"></div>
  }
  <main
    class="composition-body"
    id="main-content"
    tabindex="-1"
    [ngClass]="{ 'composition-body-collapsed': !sidebarExpanded }"
    (keydown.shift.tab)="focusActiveNavItem($event)">
    <div class="composition-body-toolbar">
      <div class="sidebar-toggle-wrap">
        <button
          type="button"
          class="sidebar-toggle-btn"
          [attr.aria-expanded]="sidebarExpanded"
          aria-label="Toggle navigation sidebar"
          (click)="toggleSidebar()">
          <cps-icon icon="burger-arrow" class="sidebar-toggle-icon"></cps-icon>
        </button>
      </div>
      <div class="sidebar-toggle-placeholder" aria-hidden="true"></div>
      <span class="composition-body-toolbar-title">{{ componentTitle }}</span>
    </div>
    <router-outlet></router-outlet>
  </main>
</div>
