<app-component-docs-viewer [componentData]="componentData">
  <!-- Example of component's usage -->
  <div class="chips-group">
    <cps-chip label="Basic chip"></cps-chip>
    <cps-chip label="Left icon chip" icon="checked"></cps-chip>
    <cps-chip
      label="Right icon chip"
      icon="checked"
      iconPosition="after"></cps-chip>
    <cps-chip label="Disabled chip" icon="eye" [disabled]="true"></cps-chip>
    <cps-chip
      label="Chip with colored icon"
      icon="avatar"
      iconColor="success"></cps-chip>
    <div>
      <cps-chip
        *ngIf="!chipClosed"
        label="Closable chip"
        [closable]="true"
        (closed)="onToggleChip()"></cps-chip>
      <cps-button
        *ngIf="chipClosed"
        label="Reset chip"
        (clicked)="onToggleChip()"
        size="xsmall"></cps-button>
    </div>
  </div>
</app-component-docs-viewer>
