<div class="radiogroups-group">
  <cps-radio
    groupLabel="Disabled vertical radio group"
    [options]="options"
    value="second"
    [disabled]="true"
    [vertical]="true"
  ></cps-radio>
  <cps-radio
    groupLabel="Radio group with partially disabled options"
    [options]="partiallyDisabledOptions"
  ></cps-radio>
  <div class="sync-val-example">
    <cps-radio
      groupLabel="Radio group with two-way binding"
      [options]="options"
      [(ngModel)]="syncVal"
    ></cps-radio>
    <div class="sync-val">Selected value: {{ syncVal }}</div>
  </div>
</div>
