.radiogroups-group {
  gap: 36px;
  display: flex;
  flex-direction: column;
}

.sync-val-example {
  .sync-val {
    margin-top: 16px;
  }
}

.custom-content-example {
  .inline-radio-form {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .weekday-checkbox {
    margin-left: 15px;
  }
}
