.radiogroups-group {
  gap: 2.25rem;
  display: flex;
  flex-direction: column;
}

.sync-val-example {
  .sync-val {
    margin-top: 1rem;
  }
}

.custom-content-example {
  .inline-radio-form {
    display: flex;
    align-items: center;
    gap: 0.3125rem;

    span {
      color: var(--cps-color-text-dark);
    }
  }

  .weekday-checkbox {
    margin-left: 0.9375rem;
  }
}
