<app-component-docs-viewer [componentData]="componentData">
  <!-- Example of component's usage -->
  <app-code-example
    label="Fullscreen loader"
    [htmlCode]="examples.fullscreenLoader.html"
    [tsCode]="examples.fullscreenLoader.ts">
    <cps-button
      data-testid="fullscreen-loader-toggle"
      label="Toggle fullscreen loader"
      (clicked)="onFullScreenClick()"></cps-button>
    @if (fullScreenOpened) {
      <cps-loader
        data-testid="fullscreen-loader"
        [fullScreen]="true"></cps-loader>
    }
  </app-code-example>

  <app-code-example
    label="Relative loader"
    [htmlCode]="examples.relativeLoader.html">
    <div class="loader-container" data-testid="relative-loader-container">
      <cps-loader data-testid="relative-loader"></cps-loader>
    </div>
  </app-code-example>

  <app-code-example
    label="Relative loader without a label and transparent overlay"
    [htmlCode]="examples.relativeLoaderNoLabelTransparent.html">
    <div class="loader-container">
      <cps-loader
        data-testid="no-label-loader"
        [showLabel]="false"
        opacity="0"></cps-loader>
    </div>
  </app-code-example>

  <app-code-example
    label="Relative loader with themed label and increased overlay opacity"
    [htmlCode]="examples.relativeLoaderThemedLabelOpacity.html">
    <div class="loader-container">
      <cps-loader
        data-testid="themed-label-color-loader"
        labelColor="energy"
        [opacity]="0.6"></cps-loader>
    </div>
  </app-code-example>

  <app-code-example
    label="Custom loading and completion labels"
    [htmlCode]="examples.customLabelsLoader.html">
    <div class="loader-container">
      <cps-loader
        data-testid="custom-labels-loader"
        label="Uploading files..."
        ariaLabel="Uploading files, please wait"
        doneAriaLabel="Upload complete"></cps-loader>
    </div>
  </app-code-example>
</app-component-docs-viewer>
