<app-component-docs-viewer [componentData]="componentData">
  <!-- Example of component's usage -->
  <app-code-example
    label="Fullscreen loader"
    [htmlCode]="examples.fullscreenLoader.html"
    [tsCode]="examples.fullscreenLoader.ts">
    <cps-button
      label="Toggle fullscreen loader"
      (clicked)="onFullScreenClick()"></cps-button>
    @if (fullScreenOpened) {
      <cps-loader [fullScreen]="true"></cps-loader>
    }
  </app-code-example>

  <app-code-example
    label="Relative loader"
    [htmlCode]="examples.relativeLoader.html">
    <div class="loader-container">
      <cps-loader></cps-loader>
    </div>
  </app-code-example>

  <app-code-example
    label="Relative loader without a label and transparent overlay"
    [htmlCode]="examples.relativeLoaderNoLabelTransparent.html">
    <div class="loader-container">
      <cps-loader [showLabel]="false" opacity="0"> </cps-loader>
    </div>
  </app-code-example>

  <app-code-example
    label="Relative loader with white label and increased overlay opacity"
    [htmlCode]="examples.relativeLoaderWhiteLabelOpacity.html">
    <div class="loader-container">
      <cps-loader labelColor="white" [opacity]="0.6"> </cps-loader>
    </div>
  </app-code-example>
</app-component-docs-viewer>
