$loaders-label-color: var(--cps-color-text-darkest);

.loaders-group {
  gap: 1.875rem;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;

  &-label {
    margin-bottom: 0.5rem;
    line-height: 2;
    color: $loaders-label-color;
  }

  .loader-container {
    width: 28.125rem;
    height: 12.5rem;
    border: 0.0625rem solid lightgrey;
  }
}
