<form [formGroup]="form">
  <div class="inputs-group">
    <cps-input
      label="Required numeric input"
      formControlName="requiredInput"
      placeholder="Enter 8 digit value"
      type="number"></cps-input>
    <cps-input
      label="Loading input"
      hint="This input is currently in a loading state"
      [loading]="true"></cps-input>
    <cps-input
      label="Password input"
      placeholder="Enter password"
      [clearable]="true"
      type="password"></cps-input>
    <cps-input
      label="Disabled input"
      hint="This input is disabled"
      [disabled]="true"></cps-input>
    <cps-input
      label="Clearable input with persistent clear icon"
      hint="This input is clearable"
      value="Clear me"
      [clearable]="true"
      [persistentClear]="true"></cps-input>
    <cps-input
      label="Input with prefix icon"
      prefixIcon="search"
      placeholder="Search something"
      [clearable]="true"></cps-input>
    <cps-input
      label="Input with prefix text"
      prefixText="USD"
      placeholder="Enter amount"></cps-input>
    <div class="sync-val-example">
      <cps-input
        width="400"
        label="Input with two-way binding, type something in"
        [(ngModel)]="syncVal"
        [ngModelOptions]="{ standalone: true }">
        ></cps-input
      >
      <span class="sync-val">{{ syncVal }}</span>
    </div>
  </div>
</form>
