<app-component-docs-viewer [componentData]="componentData">
  <!-- Example of component's usage -->
  <div class="expans-panels-group">
    <app-code-example
      label="Bordered panel with transparent background"
      [htmlCode]="examples.borderedTransparentBackground.html">
      <cps-expansion-panel
        headerTitle="Bordered panel with transparent background">
        <div>
          <cps-button label="Sample button"></cps-button>
        </div>
      </cps-expansion-panel>
    </app-code-example>

    <app-code-example
      label="Disabled panel"
      [htmlCode]="examples.disabledPanel.html">
      <cps-expansion-panel headerTitle="Disabled panel" [disabled]="true">
        <div>Some content</div>
      </cps-expansion-panel>
    </app-code-example>

    <app-code-example
      label="Expanded panel with prefix icon"
      [htmlCode]="examples.expandedWithPrefixIcon.html">
      <cps-expansion-panel
        headerTitle="Bordered panel with prefix icon and transparent background"
        [isExpanded]="true"
        prefixIcon="construction">
        <div>Some content</div>
      </cps-expansion-panel>
    </app-code-example>

    <app-code-example
      label="Borderless panel with white background"
      [htmlCode]="examples.borderlessWhiteBackground.html">
      <cps-expansion-panel
        headerTitle="Borderless panel with white background"
        backgroundColor="white"
        [bordered]="false">
        <div>Some content</div>
      </cps-expansion-panel>
    </app-code-example>

    <app-code-example
      label="Panel with radius, without chevron"
      [htmlCode]="examples.noChevronWithRadius.html">
      <cps-expansion-panel
        headerTitle="Bordered panel with 0.25rem border radius without chevron"
        [showChevron]="false"
        backgroundColor="white"
        borderRadius="0.25rem">
        <div>Some content</div>
      </cps-expansion-panel>
    </app-code-example>

    <app-code-example
      label="Panel with custom radius and width"
      [htmlCode]="examples.customRadiusAndWidth.html">
      <cps-expansion-panel
        headerTitle="Bordered panel with 0.25rem border radius and 32rem width"
        backgroundColor="white"
        borderRadius="0.25rem"
        width="32rem">
        <div>Some content</div>
      </cps-expansion-panel>
    </app-code-example>
  </div>
</app-component-docs-viewer>
