<cps-tab-group
  tabsBackground="bg-light"
  animationType="fade"
  (afterTabChanged)="changeTab($event)"
  [selectedIndex]="selectedTabIndex">
  <cps-tab label="Examples">
    <div class="example-content">
      <ng-content></ng-content>
    </div>
  </cps-tab>
  <cps-tab label="API">
    <ng-container *ngIf="componentData">
      <ng-container
        *ngIf="
          componentData.components &&
          (componentData.components | objectEntries).length > 0
        ">
        <div *ngFor="let data of componentData.components | objectEntries">
          <h1>{{ data[0] }}</h1>
          <p>{{ data[1].description }}</p>
          <!-- Input Props -->
          <div>
            <h2>Properties</h2>
            <p>{{ data[1].props.description }}</p>
            <div>
              <table class="data-table">
                <thead>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Default value</th>
                  <th>Description</th>
                </thead>
                <tbody>
                  <tr *ngFor="let prop of data[1].props.values">
                    <td class="highlighted-bg">
                      <span>{{ prop.name }}</span>
                    </td>
                    <td class="highlighted-text">
                      <a
                        *ngIf="
                          prop.type | detectType: TypesMap as type;
                          else simpleType1
                        "
                        [routerLink]="'/' + TypesMap[type] + '/api'"
                        fragment="{{ type }}"
                        >{{ prop.type }}</a
                      >
                      <ng-template #simpleType1>
                        <span>{{ prop.type }}</span>
                      </ng-template>
                    </td>
                    <td class="value-style">
                      <span>{{
                        (prop.default === '' ? "''" : prop.default) ??
                          'undefined'
                      }}</span>
                    </td>
                    <td>{{ prop.description }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- Emits -->
            <div *ngIf="data[1].emits">
              <h2>Events</h2>
              <p>{{ data[1].emits.description }}</p>
              <div>
                <table class="data-table">
                  <thead>
                    <th>Name</th>
                    <th>Parameters</th>
                    <th>Description</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let event of data[1].emits.values">
                      <td class="highlighted-bg">
                        <span>{{ event.name }}</span>
                      </td>
                      <td class="highlighted-text">
                        <a
                          *ngIf="
                            event.parameters[0].type
                              | detectType: TypesMap as type;
                            else simpleType2
                          "
                          [routerLink]="'/' + TypesMap[type] + '/api'"
                          fragment="{{ type }}"
                          >{{ event.parameters[0].type }}</a
                        >
                        <ng-template #simpleType2>
                          <span>{{ event.parameters[0].type }}</span>
                        </ng-template>
                      </td>
                      <td>{{ event.description }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- Types -->
        <div
          *ngIf="
            componentData.types &&
            componentData.types.values &&
            componentData.types.values.length > 0
          ">
          <h2>Types</h2>
          <p>{{ componentData.types.description }}</p>
          <div>
            <table class="data-table">
              <thead>
                <th>Name</th>
                <th>Values</th>
                <th>Description</th>
              </thead>
              <tbody>
                <tr
                  *ngFor="let type of componentData.types.values"
                  id="{{ type.name }}">
                  <td class="highlighted-bg">
                    <span>{{ type.name }}</span>
                  </td>
                  <td class="highlighted-text">
                    {{ type.value }}
                  </td>
                  <td>{{ type.description }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ng-container>
      <!-- Interfaces -->
      <div
        *ngIf="
          componentData.interfaces &&
          componentData.interfaces.values &&
          componentData.interfaces.values.length > 0
        ">
        <h2>Interfaces</h2>
        <p>{{ componentData.interfaces.description }}</p>
        @for (
          interface of componentData.interfaces.values;
          track interface.name
        ) {
          <div id="{{ interface.name }}">
            <h3>{{ interface.name }}</h3>
            <p>{{ interface.description }}</p>
            <table class="data-table">
              <thead>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
              </thead>
              <tbody>
                <tr *ngFor="let prop of interface.props">
                  <td class="highlighted-bg">
                    <span>{{ prop.name }}</span>
                  </td>
                  <td class="highlighted-text">
                    <a
                      *ngIf="
                        prop.type | detectType: TypesMap as type;
                        else simpleType3
                      "
                      [routerLink]="'/' + TypesMap[type] + '/api'"
                      fragment="{{ type }}"
                      >{{ prop.type }}</a
                    >
                    <ng-template #simpleType3>
                      <span>{{ prop.type }}</span>
                    </ng-template>
                  </td>
                  <td>{{ prop.description }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        }
      </div>
      <!-- Enums -->
      <app-enums [enums]="componentData.enums"></app-enums>
    </ng-container>
  </cps-tab>
</cps-tab-group>
