<div class="container">
  <p class="container-title">Tooltip positions</p>

  <div class="btns-container">
    <cps-button
      cpsTooltip
      tooltip="Tooltip"
      position="top"
      label="Tooltip on top"></cps-button>
    <cps-button
      cpsTooltip
      tooltip="Tooltip"
      position="bottom"
      label="Tooltip on bottom">
    </cps-button>
    <cps-button
      cpsTooltip
      tooltip="Tooltip"
      position="left"
      label="Tooltip on left"></cps-button>
    <cps-button
      cpsTooltip
      tooltip="Tooltip"
      position="right"
      label="Tooltip on right"></cps-button>
  </div>

  <p class="container-title">Close on content click tooltip</p>

  <cps-button
    cpsTooltip
    label="Click on tooltip to close it"
    [autoClose]="false"
    [closeOnContentClick]="true"></cps-button>

  <p class="container-title">Tooltip with inner HTML</p>

  <cps-button
    cpsTooltip
    label="Tooltip with inner HTML"
    tooltip="<span><strong>Some bold text</strong></span>"></cps-button>

  <p class="container-title">Different opening methods</p>

  <div class="btns-container btns-container-sm">
    <cps-button
      cpsTooltip
      label="Open on hover"
      tooltip="Hover"
      openOn="hover"></cps-button>

    <cps-button
      cpsTooltip
      label="Open on click"
      tooltip="Click"
      openOn="click"></cps-button>
  </div>

  <p class="container-title">Long open and close delays</p>

  <div class="btns-container btns-container-sm">
    <cps-button
      cpsTooltip
      tooltip="1000 openDelay"
      label="Open delay"
      [openDelay]="1000"></cps-button>

    <cps-button
      cpsTooltip
      tooltip="1000 closeDelay"
      label="Close delay"
      [closeDelay]="1000"></cps-button>
  </div>
</div>
