:host {
  .tooltip-elems-group {
    margin-bottom: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    &-title {
      font-size: 1.5rem;
      color: var(--cps-color-depth);
      border-bottom: 0.0625rem solid lightgrey;
      margin-bottom: 0.75rem;
      padding-bottom: 0.5rem;
      font-weight: 600;
    }
    &-row {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 1.125rem;
      align-items: center;
    }

    &-elem-left {
      margin-right: 2.5rem;
      display: inline-flex;
    }
  }
}

::ng-deep .cps-tooltip .my-tooltip-content {
  display: flex;
  flex-direction: column;
  row-gap: 0.375rem;
  .ttip-hdr {
    color: var(--cps-color-warmth);
    font-weight: bold;
  }
}
