.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-title {
    font-size: 24px;
    color: var(--cps-color-depth);
    border-bottom: 1px solid lightgrey;
    margin-bottom: 12px;
    padding-bottom: 16px;
    font-weight: 600;
    width: 100%;
  }

  .btns-container {
    width: 50%;
    display: flex;
    justify-content: space-around;

    &-sm {
      width: 25%;
    }
  }
}
