<h3>Tooltip positions</h3>

<div class="btns-container">
  <cps-button
    cpsTooltip
    tooltip="Tooltip"
    position="top"
    label="Tooltip on top"></cps-button>
  <cps-button
    cpsTooltip
    tooltip="Tooltip"
    position="bottom"
    label="Tooltip on bottom">
  </cps-button>
  <cps-button
    cpsTooltip
    tooltip="Tooltip"
    position="left"
    label="Tooltip on left"></cps-button>
  <cps-button
    cpsTooltip
    tooltip="Tooltip"
    position="right"
    label="Tooltip on right"></cps-button>
</div>
