<app-component-docs-viewer [componentData]="componentData">
  <!-- Example of component's usage -->
  <cps-scheduler
    label="Frequency"
    [disabled]="false"
    [(cron)]="cronExpression"
    (cronChange)="onCronExpressionChanged($event)"
    [(timeZone)]="timeZone"
    (timeZoneChange)="onTimezoneChanged($event)"
    [showAdvanced]="true"
    [use24HourTime]="true"
    [showNotSet]="true"
    [showTimeZone]="true"
    infoTooltip="Provide frequency"></cps-scheduler>
</app-component-docs-viewer>
