<div class="sidebar" [ngClass]="{ 'sidebar-collapsed': !isExpanded }">
  <div class="list">
    <h3 class="list-title">Styles</h3>
    <a
      *ngFor="let style of styles"
      class="list-item"
      [routerLink]="[style.url]"
      routerLinkActive="_active"
      >{{ style.title }}</a
    >
  </div>
  <div class="list">
    <h3 class="list-title">Components</h3>
    <cps-input
      prefixIcon="search"
      placeholder="Search a component"
      appearance="underlined"
      [(ngModel)]="searchVal"
      (valueChanged)="onSearchChanged($event)"
      [clearable]="true"
      [hideDetails]="true">
    </cps-input>
    <a
      *ngFor="let comp of filteredComponents"
      class="list-item"
      (click)="onComponentSelect()"
      [routerLink]="[comp.url]"
      routerLinkActive="_active"
      >{{ comp.title }}</a
    >
  </div>
</div>
