<app-component-docs-viewer [componentData]="componentData">
  <app-code-example label="Solid" [htmlCode]="examples.solid.html">
    <div class="buttons-group-row">
      <cps-button label="Large button" size="large" color="luxury"></cps-button>
      <cps-button icon="add" label="Large button" size="large"></cps-button>
      <cps-button
        icon="add"
        label="Large button"
        color="surprise"
        iconPosition="after"
        size="large"></cps-button>
      <cps-button
        icon="add"
        label="Large button"
        color="luxury"
        size="large"
        [disabled]="true"></cps-button>
      <cps-button
        [loading]="true"
        size="large"
        ariaLabel="Loading button"></cps-button>
    </div>
    <div class="buttons-group-row">
      <cps-button label="Normal button" color="luxury"></cps-button>
      <cps-button icon="add" label="Normal button"></cps-button>
      <cps-button
        icon="add"
        label="Normal button"
        color="surprise"
        iconPosition="after"></cps-button>
      <cps-button
        icon="add"
        label="Normal button"
        color="luxury"
        [disabled]="true"></cps-button>
      <cps-button [loading]="true" ariaLabel="Loading button"></cps-button>
    </div>
    <div class="buttons-group-row">
      <cps-button label="Small button" size="small" color="luxury"></cps-button>
      <cps-button icon="add" label="Small button" size="small"></cps-button>
      <cps-button
        icon="add"
        label="Small button"
        color="surprise"
        iconPosition="after"
        size="small"></cps-button>
      <cps-button
        icon="add"
        label="Small button"
        color="luxury"
        size="small"
        [disabled]="true"></cps-button>
      <cps-button
        [loading]="true"
        size="small"
        ariaLabel="Loading button"></cps-button>
    </div>
    <div class="buttons-group-row">
      <cps-button
        label="XSmall button"
        size="xsmall"
        color="luxury"></cps-button>
      <cps-button icon="add" label="XSmall button" size="xsmall"></cps-button>
      <cps-button
        icon="add"
        label="XSmall button"
        color="surprise"
        iconPosition="after"
        size="xsmall"></cps-button>
      <cps-button
        icon="add"
        label="XSmall button"
        color="luxury"
        size="xsmall"
        [disabled]="true"></cps-button>
      <cps-button
        [loading]="true"
        size="xsmall"
        ariaLabel="Loading button"></cps-button>
    </div>
  </app-code-example>

  <app-code-example label="Outlined" [htmlCode]="examples.outlined.html">
    <div class="buttons-group-row">
      <cps-button
        label="Large button"
        size="large"
        type="outlined"
        color="luxury"></cps-button>
      <cps-button
        icon="add"
        label="Large button"
        size="large"
        type="outlined"></cps-button>
      <cps-button
        icon="add"
        label="Large button"
        color="surprise"
        iconPosition="after"
        size="large"
        type="outlined"></cps-button>
      <cps-button
        icon="add"
        label="Large button"
        color="luxury"
        size="large"
        type="outlined"
        [disabled]="true"></cps-button>
      <cps-button
        [loading]="true"
        size="large"
        type="outlined"
        ariaLabel="Loading button"></cps-button>
    </div>
    <div class="buttons-group-row">
      <cps-button
        label="Normal button"
        type="outlined"
        color="luxury"></cps-button>
      <cps-button icon="add" label="Normal button" type="outlined"></cps-button>
      <cps-button
        icon="add"
        label="Normal button"
        color="surprise"
        iconPosition="after"
        type="outlined"></cps-button>
      <cps-button
        icon="add"
        label="Normal button"
        color="luxury"
        type="outlined"
        [disabled]="true"></cps-button>
      <cps-button
        [loading]="true"
        type="outlined"
        ariaLabel="Loading button"></cps-button>
    </div>
    <div class="buttons-group-row">
      <cps-button
        label="Small button"
        size="small"
        type="outlined"
        color="luxury"></cps-button>
      <cps-button
        icon="add"
        label="Small button"
        size="small"
        type="outlined"></cps-button>
      <cps-button
        icon="add"
        label="Small button"
        color="surprise"
        iconPosition="after"
        size="small"
        type="outlined"></cps-button>
      <cps-button
        icon="add"
        label="Small button"
        color="luxury"
        size="small"
        type="outlined"
        [disabled]="true"></cps-button>
      <cps-button
        [loading]="true"
        size="small"
        type="outlined"
        ariaLabel="Loading button"></cps-button>
    </div>
    <div class="buttons-group-row">
      <cps-button
        label="XSmall button"
        size="xsmall"
        type="outlined"
        color="luxury"></cps-button>
      <cps-button
        icon="add"
        label="XSmall button"
        size="xsmall"
        type="outlined"></cps-button>
      <cps-button
        icon="add"
        label="XSmall button"
        color="surprise"
        iconPosition="after"
        size="xsmall"
        type="outlined"></cps-button>
      <cps-button
        icon="add"
        label="XSmall button"
        color="luxury"
        size="xsmall"
        type="outlined"
        [disabled]="true"></cps-button>
      <cps-button
        [loading]="true"
        size="xsmall"
        type="outlined"
        ariaLabel="Loading button"></cps-button>
    </div>
  </app-code-example>

  <app-code-example label="Borderless" [htmlCode]="examples.borderless.html">
    <div class="buttons-group-row">
      <cps-button
        label="Large button"
        size="large"
        type="borderless"
        color="luxury"></cps-button>
      <cps-button
        icon="add"
        label="Large button"
        size="large"
        type="borderless"></cps-button>
      <cps-button
        icon="add"
        label="Large button"
        color="surprise"
        iconPosition="after"
        size="large"
        type="borderless"></cps-button>
      <cps-button
        icon="add"
        label="Large button"
        color="luxury"
        size="large"
        type="borderless"
        [disabled]="true"></cps-button>
      <cps-button
        [loading]="true"
        size="large"
        type="borderless"
        ariaLabel="Loading button"></cps-button>
    </div>
    <div class="buttons-group-row">
      <cps-button
        label="Normal button"
        type="borderless"
        color="luxury"></cps-button>
      <cps-button
        icon="add"
        label="Normal button"
        type="borderless"></cps-button>
      <cps-button
        icon="add"
        label="Normal button"
        color="surprise"
        iconPosition="after"
        type="borderless"></cps-button>
      <cps-button
        icon="add"
        label="Normal button"
        color="luxury"
        type="borderless"
        [disabled]="true"></cps-button>
      <cps-button
        [loading]="true"
        type="borderless"
        ariaLabel="Loading button"></cps-button>
    </div>
    <div class="buttons-group-row">
      <cps-button
        label="Small button"
        size="small"
        type="borderless"
        color="luxury"></cps-button>
      <cps-button
        icon="add"
        label="Small button"
        size="small"
        type="borderless"></cps-button>
      <cps-button
        icon="add"
        label="Small button"
        color="surprise"
        iconPosition="after"
        size="small"
        type="borderless"></cps-button>
      <cps-button
        icon="add"
        label="Small button"
        color="luxury"
        size="small"
        type="borderless"
        [disabled]="true"></cps-button>
      <cps-button
        [loading]="true"
        size="small"
        type="borderless"
        ariaLabel="Loading button"></cps-button>
    </div>
    <div class="buttons-group-row">
      <cps-button
        label="XSmall button"
        size="xsmall"
        type="borderless"
        color="luxury"></cps-button>
      <cps-button
        icon="add"
        label="XSmall button"
        size="xsmall"
        type="borderless"></cps-button>
      <cps-button
        icon="add"
        label="XSmall button"
        color="surprise"
        iconPosition="after"
        size="xsmall"
        type="borderless"></cps-button>
      <cps-button
        icon="add"
        label="XSmall button"
        color="luxury"
        size="xsmall"
        type="borderless"
        [disabled]="true"></cps-button>
      <cps-button
        [loading]="true"
        size="xsmall"
        type="borderless"
        ariaLabel="Loading button"></cps-button>
    </div>
  </app-code-example>

  <app-code-example
    label="Miscellaneous"
    [htmlCode]="examples.misc.html"
    [tsCode]="examples.misc.ts">
    <div class="buttons-group-row dark-background">
      <cps-button
        [loading]="isLoading"
        label="Click to load"
        type="outlined"
        color="white"
        (clicked)="onClickForLoading()">
      </cps-button>
      <cps-button
        color="white"
        type="outlined"
        icon="like"
        ariaLabel="Like"
        size="large"></cps-button>
      <cps-button
        color="graphite"
        icon="eye"
        size="large"
        ariaLabel="View"></cps-button>
      <cps-button
        label="Custom size"
        borderRadius="2rem"
        width="300"
        height="60"
        color="white"
        type="outlined"
        icon="avatar-top-menu"></cps-button>
    </div>
    <cps-button
      label="Block large button"
      borderRadius="0"
      width="100%"
      size="large"
      color="depth"></cps-button>
  </app-code-example>
</app-component-docs-viewer>
