<div class="buttons-group">
  <div class="buttons-group-title">Solid type</div>
  <div class="buttons-group-row">
    <cps-button label="Large button" size="large" color="luxury"></cps-button>
    <cps-button icon="add" label="Large button" size="large"></cps-button>
    <cps-button
      icon="add"
      label="Large button"
      color="surprise"
      iconPosition="after"
      size="large"
    ></cps-button>
    <cps-button
      icon="add"
      label="Large button"
      color="luxury"
      size="large"
      [disabled]="true"
    ></cps-button>
    <cps-button [loading]="true" size="large"></cps-button>
  </div>
  <div class="buttons-group-row">
    <cps-button label="Normal button" color="luxury"></cps-button>
    <cps-button icon="add" label="Normal button"></cps-button>
    <cps-button
      icon="add"
      label="Normal button"
      color="surprise"
      iconPosition="after"
    ></cps-button>
    <cps-button
      icon="add"
      label="Normal button"
      color="luxury"
      [disabled]="true"
    ></cps-button>
    <cps-button [loading]="true"></cps-button>
  </div>
  <div class="buttons-group-row">
    <cps-button label="Small button" size="small" color="luxury"></cps-button>
    <cps-button icon="add" label="Small button" size="small"></cps-button>
    <cps-button
      icon="add"
      label="Small button"
      color="surprise"
      iconPosition="after"
      size="small"
    ></cps-button>
    <cps-button
      icon="add"
      label="Small button"
      color="luxury"
      size="small"
      [disabled]="true"
    ></cps-button>
    <cps-button [loading]="true" size="small"></cps-button>
  </div>
  <div class="buttons-group-row">
    <cps-button label="XSmall button" size="xsmall" color="luxury"></cps-button>
    <cps-button icon="add" label="XSmall button" size="xsmall"></cps-button>
    <cps-button
      icon="add"
      label="XSmall button"
      color="surprise"
      iconPosition="after"
      size="xsmall"
    ></cps-button>
    <cps-button
      icon="add"
      label="XSmall button"
      color="luxury"
      size="xsmall"
      [disabled]="true"
    ></cps-button>
    <cps-button [loading]="true" size="xsmall"></cps-button>
  </div>
</div>

<div class="buttons-group">
  <div class="buttons-group-title">Outlined type</div>
  <div class="buttons-group-row">
    <cps-button
      label="Large button"
      size="large"
      type="outlined"
      color="luxury"
    ></cps-button>
    <cps-button
      icon="add"
      label="Large button"
      size="large"
      type="outlined"
    ></cps-button>
    <cps-button
      icon="add"
      label="Large button"
      color="surprise"
      iconPosition="after"
      size="large"
      type="outlined"
    ></cps-button>
    <cps-button
      icon="add"
      label="Large button"
      color="luxury"
      size="large"
      type="outlined"
      [disabled]="true"
    ></cps-button>
    <cps-button [loading]="true" size="large" type="outlined"></cps-button>
  </div>
  <div class="buttons-group-row">
    <cps-button
      label="Normal button"
      type="outlined"
      color="luxury"
    ></cps-button>
    <cps-button icon="add" label="Normal button" type="outlined"></cps-button>
    <cps-button
      icon="add"
      label="Normal button"
      color="surprise"
      iconPosition="after"
      type="outlined"
    ></cps-button>
    <cps-button
      icon="add"
      label="Normal button"
      color="luxury"
      type="outlined"
      [disabled]="true"
    ></cps-button>
    <cps-button [loading]="true" type="outlined"></cps-button>
  </div>
  <div class="buttons-group-row">
    <cps-button
      label="Small button"
      size="small"
      type="outlined"
      color="luxury"
    ></cps-button>
    <cps-button
      icon="add"
      label="Small button"
      size="small"
      type="outlined"
    ></cps-button>
    <cps-button
      icon="add"
      label="Small button"
      color="surprise"
      iconPosition="after"
      size="small"
      type="outlined"
    ></cps-button>
    <cps-button
      icon="add"
      label="Small button"
      color="luxury"
      size="small"
      type="outlined"
      [disabled]="true"
    ></cps-button>
    <cps-button [loading]="true" size="small" type="outlined"></cps-button>
  </div>
  <div class="buttons-group-row">
    <cps-button
      label="XSmall button"
      size="xsmall"
      type="outlined"
      color="luxury"
    ></cps-button>
    <cps-button
      icon="add"
      label="XSmall button"
      size="xsmall"
      type="outlined"
    ></cps-button>
    <cps-button
      icon="add"
      label="XSmall button"
      color="surprise"
      iconPosition="after"
      size="xsmall"
      type="outlined"
    ></cps-button>
    <cps-button
      icon="add"
      label="Xsmall button"
      color="luxury"
      size="xsmall"
      type="outlined"
      [disabled]="true"
    ></cps-button>
    <cps-button [loading]="true" size="xsmall" type="outlined"></cps-button>
  </div>
</div>

<div class="buttons-group">
  <div class="buttons-group-title">Borderless type</div>
  <div class="buttons-group-row">
    <cps-button
      label="Large button"
      size="large"
      type="borderless"
      color="luxury"
    ></cps-button>
    <cps-button
      icon="add"
      label="Large button"
      size="large"
      type="borderless"
    ></cps-button>
    <cps-button
      icon="add"
      label="Large button"
      color="surprise"
      iconPosition="after"
      size="large"
      type="borderless"
    ></cps-button>
    <cps-button
      icon="add"
      label="Large button"
      color="luxury"
      size="large"
      type="borderless"
      [disabled]="true"
    ></cps-button>
    <cps-button [loading]="true" size="large" type="borderless"></cps-button>
  </div>
  <div class="buttons-group-row">
    <cps-button
      label="Normal button"
      type="borderless"
      color="luxury"
    ></cps-button>
    <cps-button icon="add" label="Normal button" type="borderless"></cps-button>
    <cps-button
      icon="add"
      label="Normal button"
      color="surprise"
      iconPosition="after"
      type="borderless"
    ></cps-button>
    <cps-button
      icon="add"
      label="Normal button"
      color="luxury"
      type="borderless"
      [disabled]="true"
    ></cps-button>
    <cps-button [loading]="true" type="borderless"></cps-button>
  </div>
  <div class="buttons-group-row">
    <cps-button
      label="Small button"
      size="small"
      type="borderless"
      color="luxury"
    ></cps-button>
    <cps-button
      icon="add"
      label="Small button"
      size="small"
      type="borderless"
    ></cps-button>
    <cps-button
      icon="add"
      label="Small button"
      color="surprise"
      iconPosition="after"
      size="small"
      type="borderless"
    ></cps-button>
    <cps-button
      icon="add"
      label="Small button"
      color="luxury"
      size="small"
      type="borderless"
      [disabled]="true"
    ></cps-button>
    <cps-button [loading]="true" size="small" type="borderless"></cps-button>
  </div>
  <div class="buttons-group-row">
    <cps-button
      label="XSmall button"
      size="xsmall"
      type="borderless"
      color="luxury"
    ></cps-button>
    <cps-button
      icon="add"
      label="XSmall button"
      size="xsmall"
      type="borderless"
    ></cps-button>
    <cps-button
      icon="add"
      label="XSmall button"
      color="surprise"
      iconPosition="after"
      size="xsmall"
      type="borderless"
    ></cps-button>
    <cps-button
      icon="add"
      label="XSmall button"
      color="luxury"
      size="xsmall"
      type="borderless"
      [disabled]="true"
    ></cps-button>
    <cps-button [loading]="true" size="xsmall" type="borderless"></cps-button>
  </div>
</div>

<div class="buttons-group">
  <div class="buttons-group-title">Miscellaneous</div>
  <div class="buttons-group-row dark-background">
    <cps-button
      [loading]="isLoading"
      label="Click to load"
      type="outlined"
      color="white"
      (clicked)="onClickForLoading()"
    ></cps-button>
    <cps-button
      color="white"
      type="outlined"
      icon="like"
      size="large"
    ></cps-button>
    <cps-button color="graphite" icon="eye" size="large"></cps-button>
    <cps-button
      label="Custom size"
      width="300"
      height="60"
      color="white"
      type="outlined"
      icon="avatar-top-menu"
    ></cps-button>
  </div>
  <cps-button
    label="Block large button"
    width="100%"
    size="large"
    color="depth"
  ></cps-button>
</div>
