<cps-table
  [showGlobalFilter]="true"
  [data]="data"
  dataKey="a"
  [showActionBtn]="true"
  [reorderableRows]="true"
  [selectable]="true"
  [paginator]="true"
  [showRowMenu]="true"
  (actionBtnClicked)="onActionBtnClicked()"
  toolbarTitle="This is an alpha version of table component">
  <ng-template #header>
    <th cpsColSortable="a">A</th>
    <th>B</th>
    <th cpsColSortable="c">C</th>
  </ng-template>

  <ng-template let-item #body>
    <td>{{ item.a }}</td>
    <td>{{ item.b | uppercase }}</td>
    <td>{{ item.c | percent }}</td>
  </ng-template>

  <ng-template let-item #rowexpansion>
    <div class="expanded-row-contents">
      <div>id: {{ item.d.id }}</div>
      <div>desc: {{ item.d.desc }}</div>
    </div>
  </ng-template>
</cps-table>
