<cps-table
  [headers]="headers"
  [showGlobalFilter]="true"
  [data]="data"
  [showActionBtn]="true"
  [virtualScroll]="true"
  [reorderableRows]="true"
  (actionBtnClicked)="onActionBtnClicked()"
  toolbarTitle="This is an alpha version of table component">
  <ng-template #header>
    <th cpsColSortable="a">A</th>
    <th>B</th>
    <th cpsColSortable="c">C</th>
  </ng-template>

  <ng-template let-item #body>
    <td>{{ item.a }}</td>
    <td>{{ item.b | uppercase }}</td>
    <td>{{ item.c | percent }}</td>
  </ng-template>
</cps-table>
