@import './variables.scss';
@import '../../cps-ui-kit/styles/styles.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

.composition-page {
  padding: 0 24px 24px 24px;
  width: 100%;
  height: calc(100% - $inner-tbar-height);
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.example-content {
  padding-top: 24px;
}

.anchor-highlight {
  background-color: var(--cps-color-energy-lighten5);
}
