$sidebar-width: 300px;
$composition-background: var(--cps-color-bg-light);
$top-tbar-height: 64px;
$inner-tbar-height: 45px;

$color-calm: var(--cps-color-calm);
$color-text: var(--cps-color-text-dark);
