$sidebar-width: 18.75rem;
$composition-background: var(--cps-background-color);
$top-tbar-height: 4rem;
$inner-tbar-height: 2.8125rem;

$color-calm: var(--cps-accent-primary);
$color-text: var(--cps-text-primary);
