$sidebar-width: 300px;
$composition-background: var(--cps-background-color);
$top-tbar-height: 64px;
$inner-tbar-height: 45px;

$color-calm: var(--cps-accent-primary);
$color-text: var(--cps-text-secondary);
