:host ::ng-deep .tab-example--center-aligned {
  .nav-tabs {
    align-items: center;
    justify-content: center;
  }
  .tab-content {
    margin: 15px 20%;
  }
}

:host ::ng-deep .tab-example--right-aligned {
  .nav-tabs {
    align-items: end;
    justify-content: right;
  }
}

:host {
  overflow: hidden;
}
