<cps-tab-group class="tab-example--left-aligned" (afterTabChanged)="changeTab($event)">
  <cps-tab label="Basic title" id="tab1">Basic content</cps-tab>
  <cps-tab label="Basic Title 1">Basic content 1</cps-tab>
  <cps-tab label="Basic Title 2">Basic content 2</cps-tab>
</cps-tab-group>

<cps-tab-group class="tab-example--center-aligned" (afterTabChanged)="changeTab($event)">
  <cps-tab label="Basic title" id="tab2">Basic content</cps-tab>
  <cps-tab label="Basic Title 1">Basic content 1</cps-tab>
  <cps-tab label="Basic Title 2">Basic content 2</cps-tab>
</cps-tab-group>

<cps-tab-group class="tab-example--right-aligned" (afterTabChanged)="changeTab($event)">
  <cps-tab label="Basic title" id="tab3">Basic content</cps-tab>
  <cps-tab label="Basic Title 1">Basic content 1</cps-tab>
  <cps-tab label="Basic Title 2">Basic content 2</cps-tab>
</cps-tab-group>
