<app-docs-viewer [componentData]="componentData">
  <!-- Example of component's usage -->
  <div class="progr-lin-group">
    <cps-progress-linear></cps-progress-linear>
    <cps-progress-linear
      color="energy"
      radius="4"
      bgColor="energy-highlighten"
      height="12px">
    </cps-progress-linear>
    <cps-progress-linear
      height="3"
      radius="4"
      opacity="0.3"
      bgColor="transparent">
    </cps-progress-linear>
    <cps-progress-linear
      color="grounded"
      radius="10px"
      bgColor="grounded-highlighten"
      width="400px"
      height="12px"></cps-progress-linear>
  </div>
</app-docs-viewer>
