:host {
  .notification-btns-group {
    gap: 30px;
    display: flex;
    flex-direction: column;

    &-title {
      font-size: 24px;
      color: var(--cps-color-depth);
      border-bottom: 1px solid lightgrey;
      margin-bottom: 12px;
      padding-bottom: 8px;
      font-weight: 600;
    }
  }
  .notification-btns-last-group {
    padding-bottom: 12px;
    border-bottom: 1px solid lightgrey;
  }
}
