.progr-circ-group {
  align-items: center;
  gap: 48px;
  display: flex;
  overflow: hidden;
}

.progr-circ-page-warning {
  margin-bottom: 36px;
  font-size: 20px;
  color: var(--cps-color-text-darkest);
}
