<app-docs-viewer [componentData]="componentData">
  <!-- Example of component's usage -->
  <div class="progr-circ-page-warning">
    <b>This is not a page loader!</b> <br />
    If you need to show a spinner while page content is loading, use
    <a href="/loader">Loader component</a>
  </div>
  <div class="progr-circ-group">
    <cps-progress-circular
      color="luxury"
      diameter="120"
      strokeWidth="8"></cps-progress-circular>
    <cps-progress-circular diameter="60"></cps-progress-circular>
    <cps-progress-circular
      color="surprise"
      diameter="30"
      strokeWidth="3"></cps-progress-circular>
    <cps-progress-circular
      color="prepared"
      diameter="15"
      strokeWidth="2"></cps-progress-circular>
  </div>
</app-docs-viewer>
